body {
    font-family: "Playfair Display", serif;
}

.font-arizonia {
    font-family: "Arizonia", cursive;
}

.scroll-track {
    width: max-content;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}